
<div class="container" ng-cloak>
    <h1>Enter original link here</h1>
    <div ng-show="!!vm.errorMessage" class="row">
        <div class="alert alert-danger">
            {{vm.errorMessage}}
        </div>
    </div>




    <form ng-disabled="!!vm.isRunning" name="inputForm" class="form-inline">
        <div class="form-group">
            <label for="originalLink">Original link</label>
            <input class="form-control" id="originalLink" type="url" required ng-model="vm.originalLink" placeholder="Enter orginal link" />
        </div>
        <button ng-disabled="inputForm.$invalid" type="submit" class="btn btn-default" ng-click="vm.onSave()">Submit</button>
    </form>

    <div  class="row p-t-15">
        <div ng-show="!!vm.shortLink && inputForm.$pristine" class="panel panel-default">
            <div class="panel-heading">Formed short link:</div>
            <div class="panel-body">
                <a target="_blank" href="{{vm.shortLink}}">{{vm.shortLink}}</a>
            </div>
        </div>
    </div>
</div>