

<form  name="inputForm" class="form-inline">
    <div class="form-group">
        <label for="originalLink">Original link</label>
        <input class="form-control" type="url" required placeholder="Enter orginal link" />
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>

<div class="panel panel-default">
    <div class="panel-heading">Formed short link:</div>
    <div class="panel-body">
        <a target="_blank" href="https://nice.url">Nice url!</a>
    </div>
</div>