<table class="table table-striped">
    <thead>
        <th>#</th>
        <th>Orginal link</th>
        <th>Short link</th>
        <th>Create date</th>
        <th>Visits' count</th>
    </thead>
    <tbody ng-repeat="link in vm.links">
        <tr>
            <td>#</td>
            <td><a target="_blank" href="{{link.OriginalLink}}">{{link.OriginalLink}}</a></td>
            <td><a target="_blank" href="{{link.ShortLink}}">{{link.ShortLink}}</a></td>
            <td>{{link.CreationDate}}</td>
            <td>{{link.VisitsCount}}</td>
        </tr>
    </tbody>
</table>